@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);

body {
  margin: 0;
  background: #fbfbfb;
  font-family: "Open Sans", sans-serif;
  a {
    color: #1c1c1c;
    text-decoration: none;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 20;
  .circle {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .circle-svg {
      stroke-dashoffset: 0;
      stroke-dasharray: 130;
      transform-origin: center;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-duration: 1s;
    }
  }
}

.menu {
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
  background: white;
  padding: 0px 60px;
  box-sizing: border-box;
  .logo {
    position: relative;
    float: left;
    margin: 0;
    border: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
}
.middle-container {
  position: relative;
  float: left;
  left: 50%;
  transform: translateX(-50%);
  min-height: 10px;
  width: 1169px;
  // border: 1px solid black;
}
.home {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 100%;
  padding-top: 50px;
  .home-h1 {
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    h1 {
      position: relative;
      float: left;
      left: 50%;
      transform: translateX(-50%);
      font-size: 35px;
      font-weight: bold;
      width: 430px;
      text-align: center;
      margin: 0;
      border: 0;
      color: #1c1c1c;
    }
  }
  p {
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 700px;
    margin: 0;
    border: 0;
    margin-top: 40px;
  }
  h3 {
    position: relative;
    float: left;
    width: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    margin-top: 40px;
    font-size: 20px;
    font-weight: semibold;
  }
  .grid {
    position: relative;
    float: left;
    width: 100%;
    height: 280px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 25px;
    a {
      color: black;
      text-decoration: none;
      transition: 0.1s;
      border-radius: 7px;
      background: white;
      box-shadow: $shadow;
      &:hover {
        background: #54a0ff;
        color: white;
      }
    }
    .grid-unit {
      cursor: pointer;
      .grid-image {
        position: relative;
        float: left;
        width: 100%;
        height: 190px;
        img {
          position: absolute;
          bottom: 0px;
          height: 125px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      h1 {
        position: relative;
        float: left;
        margin: 0;
        border: 0;
        margin-top: 25px;
        width: 100%;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}
.test-info {
  position: relative;
  float: left;
  margin-top: 45px;
  min-height: 10px;
  width: 100%;
  .wrong,
  .time {
    position: relative;
    float: left;
    color: #ff0000;
    margin: 0;
    border: 0;
    font-size: 18px;
  }
  .time {
    color: #1c1c1c;
    float: right;
    span {
      color: #54a0ff;
    }
  }
}
.test-container {
  position: relative;
  float: left;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  min-height: 10px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: $shadow;
  background: white;
  .loading-bar {
    position: relative;
    float: left;
    width: 100%;
    height: 10px;
    background: #e9e9e9;
    .progress {
      position: absolute;
      height: 100%;
      width: 0%;
      background: #54a0ff;
      transition: 0.3s;
    }
  }
  h1 {
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 71px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    border: 0;
    margin-top: 55px;
  }
  .answer {
    position: relative;
    float: left;
    width: 100%;
    min-height: 10px;
    margin-top: 55px;
    padding: 0px 71px;
    box-sizing: border-box;
    cursor: pointer;
    .left {
      position: relative;
      float: left;
      min-width: 5px;
      height: 100%;
      margin-right: 26px;
      .circle {
        position: relative;
        float: left;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid #cecece;
        div {
          position: absolute;
          float: left;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          height: 7px;
          width: 7px;
          border: px solid #1c1c1c;
          background: #1c1c1c;
          border-radius: 50%;
          display: none;
        }
      }
    }
    .value {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: #7e7e7e;
    }
    .result {
      position: absolute;
      left: 0px;
      text-align: right;
      width: 100%;
      margin: 0;
      padding: 0;
      font-size: 18px;
      box-sizing: border-box;
      padding: 0px 71px;
    }
    .wrong {
      color: #ff0000;
    }
    .correct {
      color: #00d832;
    }
  }
  .buttons {
    position: relative;
    float: left;
    width: 100%;
    min-height: 10px;
    // border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 65px;
    box-sizing: border-box;
    padding: 0px 71px;
    button {
      position: relative;
      float: left;
      height: 55px;
      width: 160px;
      font-size: 15px;
      border-radius: 2px;
      cursor: pointer;
    }
    .comeback {
      background: white;
      border: 1px solid #54a0ff;
      margin-right: 13px;
    }
    .next {
      color: white;
      background: #d1d1d1;
      border: transparent;
      transition: 0.3s;
    }
  }
}
.result-container {
  position: relative;
  float: left;
  width: 100%;
  min-height: 10px;
  padding-top: 90px;
  .circle-container {
    position: relative;
    float: left;
    left: 50%;
    height: 324px;
    width: 324px;
    transform: translateX(-50%);
    .circle {
      position: relative;
      float: left;
      box-sizing: border-box;
      float: left;
      height: 100%;
      width: 100%;
      .circle-svg {
        stroke-dashoffset: 929;
        stroke-dasharray: 929;
        transform-origin: center;
        transform: rotateZ(-90deg);
        transition: 2s;
      }
    }
    .background {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      z-index: -1;
      background: white;
      border-radius: 50%;
    }
    .interior {
      position: absolute;
      width: 296px;
      height: 296px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fbfbfb;
    }
    p {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      border: 0;
      font-size: 45px;
      font-weight: bold;
      color: #54a0ff;
    }
  }
  .failorsuccess {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }
  h1 {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
    border: 0;
    margin-top: 24px;
    font-size: 30px;
  }
  p {
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    border: 0;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
  }
  .result-buttons {
    position: relative;
    float: left;
    width: 100%;
    height: 55px;
    margin-top: 30px;
    .result-buttons-middle {
      position: relative;
      float: left;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      min-width: 10px;
      button {
        position: relative;
        float: left;
        height: 100%;
        width: 160px;
        background: #54a0ff;
        border: 1px solid #54a0ff;
        border-radius: 2px;
        color: white;
        font-size: 15px;
        cursor: pointer;
      }
      .try {
        margin-right: 15px;
      }
    }
  }
}
.wrong-answers-container {
  position: relative;
  float: left;
  width: 100%;
  padding-top: 45px;
  // border: 1px solid black;
  min-height: 10px;
  margin-bottom: 100px;
  button {
    position: relative;
    float: left;
    height: 55px;
    width: 160px;
    border: 1px solid #54a0ff;
    border-radius: 2px;
    background: #54a0ff;
    color: white;
    cursor: pointer;
    font-size: 15px;
  }
  .wrong-answer {
    position: relative;
    float: left;
    width: 100%;
    min-height: 10px;
    padding: 0px 71px;
    box-shadow: $shadow;
    box-sizing: border-box;
    background: white;
    border-radius: 5px;
    padding-bottom: 52px;
    margin-bottom: 36px;
    h1 {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      border: 0;
      font-size: 20px;
      font-weight: 600;
      margin-top: 64px;
      margin-bottom: 35px;
    }
    p {
      position: relative;
      float: left;
      width: 100%;
      margin: 0;
      border: 0;
      padding: 14px 47px;
      box-sizing: border-box;
      margin-bottom: 15px;
      border-radius: 5px;
    }
    .wrong {
      background: #ffacac;
    }
    .correct {
      background: #00d832;
    }
  }
}

@media only screen and (max-width: 1270px) {
  .menu {
    padding: 0px;
    .logo {
      width: 1169px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 1169px) {
  .menu {
    .logo {
      width: 1000px;
    }
  }
  .middle-container {
    width: 1000px;
  }
}

@media only screen and (max-width: 800px) {
  .menu {
    .logo {
      width: 600px;
    }
  }
  .middle-container {
    width: 600px;
  }
  .test-container {
    .answer {
      .value {
        width: 300px;
      }
    }
  }
  .home {
    .grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-row-gap: 25px;
      height: auto;
      margin-bottom: 30px;
      .grid-unit {
        h1 {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .grid-image {
          height: 140px;
        }
      }
    }
  }
  .wrong-answers-container {
    .wrong-answer {
      padding: 0px 40px;
      padding-bottom: 52px;
      p {
        padding: 14px 25px;
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .result-container {
    .circle-container {
      width: 296px;
      height: 296px;
      .interior {
        width: 270px;
        height: 270px;
      }
    }
    .result-buttons {
      height: 110px;
      height: auto;
      margin-bottom: 50px;
      .result-buttons-middle {
        button {
          width: 100%;
          height: 55px;
        }
        .try {
          margin-right: 0px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .menu {
    .logo {
      width: 400px;
    }
  }
  .middle-container {
    width: 400px;
  }
  .test-container {
    h1 {
      padding: 0px 20px;
    }
    .answer {
      padding: 0px 20px;
      .value {
        width: 280px;
      }
      .result {
        position: relative;
        float: left;
        width: 200px;
        padding: 10px 0px;
        margin-left: 48px;
        text-align: left;
      }
    }
    .buttons {
      padding: 0px 20px;
      .comeback {
        margin-bottom: 20px;
      }
    }
  }
  .home {
    .home-h1 {
      h1 {
        font-size: 25px;
        width: 100%;
      }
    }
    p {
      width: 100%;
    }
    h3 {
      text-align: center;
    }
  }
  .wrong-answers-container {
    .wrong-answer {
      padding: 0px 20px;
      padding-bottom: 52px;
      p {
        padding: 14px 25px;
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .menu {
    .logo {
      width: 300px;
    }
  }
  .middle-container {
    width: 300px;
  }
  .home {
    .home-h1 {
      h1 {
        font-size: 25px;
        width: 300px;
      }
    }
    p {
      width: 100;
    }
    h3 {
      text-align: center;
    }
  }
  .test-container {
    .answer {
      .value {
        width: 200px;
      }
    }
  }
}
